.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  grid-template-rows: repeat(2, 1fr);
  gap: 4vw;
  place-content: center;
  background-color: #fff;
  padding: 5vw;
  border-radius: 60px;
  box-shadow: 40px 30px 6vw rgb(22, 107, 79);
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleProduct {
  text-align: center;
  font-size: 1vw;
}

.imgProduct {
  height: 8vw;
}